/*header*/
header{
	display:block;
}

.logo-sprite {
	background-image: url('https://d6vdma9166ldh.cloudfront.net/assets/images/icons/logo-sprite.png');
	background-repeat: no-repeat;
}

.main-header{
	font-weight: 700;	
}

.main-header .navbar {
	margin-bottom: 0;
	background: #fff;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
	border: 0 none;
	border-radius: 0;
	min-height: 64px;
}

.container, .container-fluid {
	font-weight: 400;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.main-header .navbar-header {
	padding-left: 15px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	margin-right: 0;
	margin-left: 0;
}

.navbar-header {
	float: left;
}

.navbar-nav {
	float: left;
	margin: 0;
}

.navbar-nav {
	margin: 7.5px -15px;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav > li {
	float: left;
}

.nav > li {
	position: relative;
	display: block;
}

.top-dropdown {
	padding: 0 !important;
}

.border-right-1 {
	border-right: 1px solid #eaeaec;
}

.border-left-1 {
	border-left: 1px solid #eaeaec;
}
